* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100%;
    background: rgb(216, 216, 216) !important;
}

a.nav-link.active{
    border-radius: 12px;
    transition:ease-in-out .3s;
}

a.nav-link.active:hover{
    background-color:rgba(218, 218, 218, .3);
}

nav.navbar {
   
    transition:ease-in-out .3s;
    box-shadow: 0px 5px 5px -5px rgba(0, 0 , 0, .4);
    
}
/* Gray
#746C70

gelap Gray
#4E4F50

terang gray
#E2DED0

Blue Gray
#647C90 */
nav.navbar:hover {
    background-color: rgb(255,255,255,1);
    box-shadow: 0px 10px 5px -5px rgba(58, 58, 58, 0.5);
}

.btn-dark {
    width: 100%;
    transition: ease-in-out .2s !important;
}

button.btn-dark:hover {
    background-color: white;
    color:black;
}
.navbar-brand {
    font-family: 'Pacifio', cursive;
}

.row {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-top
}

img.img-fluid {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


footer .container p {
    color:white;
    display: inline;
}


@media only screen and (max-width: 768px) {
    img.img-fluid {
        border-top-left-radius: 15px ;
        border-top-right-radius: 15px ;
        border-bottom-left-radius:0px;
    }
}